st dd {
	margin: 0;
	padding: 4px;
	background: none;

	color: #222222;

	border: 1px solid;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top: none;

	box-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	text-shadow: none;
}

dl.reflist dd {
	margin-bottom: 15px;
}

/* Background colors */
dl.note {}
dl.warning {}
dl.todo {}
dl.deprecated {}
dl.reflist {}

/* Header */
dl.note dt {
	background-color: #cbc693;
}

dl.warning dt {
	background-color: #bf5f82;
}

dl.todo dt {
	background-color: #82b3c9;
}

dl.deprecated dt {
	background-color: #af8eb5;
}

dl.reflist dt {
	background-color: #cbae82;
}

/* Content */
dl.note dd {
	background-color: #fff9c4;
	border-color: #cbc693;
}

dl.warning dd {
	background-color: #f48fb1;
	border-color: #bf5f82;
}

dl.todo dd {
	background-color: #b3e5fc;
	border-color: #82b3c9;
}

dl.deprecated dd {
	background-color: #e1bee7;
	border-color: #af8eb5;
}

dl.reflist dd {
	background-color: #ffe0b2;
	border-color: #cbae82;
}

/*********************************************/
/**               Reference list            **/
/**Similar to warning/note/todo/... messages**/
/*********************************************/
dl.reflist {

}

/*********************************************/
/**               Note, warning             **/
/*********************************************/
#docs_list {
	padding: 0 10px;
}

#docs_list ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#docs_list ul li {
	display: inline-block;
	border-right: 1px solid #BFBFBF;
}

#docs_list ul li:last-child {
	border-right: none;
}

#docs_list ul li a {
	display: block;
	padding: 8px 13px;
	font-weight: bold;
	font-size: 15px;
}

#docs_list ul li a:hover,
#docs_list ul li a.docs_current {
	text-decoration: underline;
}

/*********************************************/
/**               Resizable UI              **/
/*********************************************/
.ui-resizable-e {
	width: 3px;
}

/*********************************************/
/**               Download url              **/
/*********************************************/
.download_url {
	font-weight: bold;
	font-size: 150%;
	line-height: 150%;
}

/*********************************************/
/**               Syntax folor              **/
/*********************************************/
div.line a {
	text-decoration: underline;
}

span.lineno a {
	text-decoration: none;
}

/*********************************************/
/**          Modules/Directory table        **/
/*********************************************/
.directory .arrow {
	height: initial;
}

.directory td.entry {
	padding: 3px 6px;
}

/*********************************************/
/**                 Mem items               **/
/*********************************************/
.memproto table td {
	font-family: monospace, fixed !important;
}

td.memItemLeft, td.memItemRight {
	font-family: monospace, fixed;
}

.paramname, .paramname em {
	font-style: italic;
}

.memdoc {
	text-shadow: none;
}

.memItem {
	font-family: monospace, fixed;
}

.memItem table {
	font-family: inherit;
}

/*********************************************/
/**                 Footer                  **/
/*********************************************/
img.footer {
	height: 22px;
}

/*********************************************/
/**             Custom scrollbar            **/
/*********************************************/

/*********************************************/
/**             Custom scrollbar            **/
/*********************************************/
